body{
    background-image: url("https://i.pinimg.com/736x/a3/bd/38/a3bd3813ffa40f6307a285a7a778fbb8.jpg")
}
form{
    padding: 20px;
    COLOR:BLACK !important;
}
.card{
    border: none !important;
    background-color: rgba(37, 36, 36, 0.934) !important;
}
button{
    text-align: left;
}
#btn1{
    width:160px;
}
#signup{
    color:white;
    text-align: center;
    font-weight: bolder;
}
h3{
    text-align: center;
    color:white !important;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
    color: white;
}
#logo {
    width: 100px;
}
#emailHelp{
    color:white;
}
.head{
    display: flex;
    justify-content: flex-start;
}
.webname{
    color: white !important;
    font-family: "Rubik Vinyl", serif;
    padding-left: 10px;
}
h1{
    font-family: serif;
}

